@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

.roboto-slab-> {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

body {
    font-family: "Roboto Slab", serif;    
    background-image: url("img/blob.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-weight: 900;
}
h1 {
    font-size: 2rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10%;
    width: 80%;
}
.btn {
    padding: 15px;
    font-size: large;
    font-family: "Roboto Slab", serif;
    border-radius: 50px;
    cursor: pointer;
}
.btn:hover {
    background-color: chocolate;
}
.joke {
    margin: 25px;
    padding: 35px;
    font-size: x-large;
    background-color: rgb(218, 218, 52);
    border-radius: 50px;
    border: 2px solid black;
}
.emoti {
    font-size: xx-large;
}
.weather {
    width: 50px;
    padding: 3px 15px;
    background-color: rgb(14, 114, 196);
    border: 2px solid black;
    border-radius: 50px;
    color: beige;
}
.tempResp {
    top: -15px;
    position: relative;
}